# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/

# Node.js / React
node_modules/
dist/
dist-ssr/
*.local
.vscode/

# Logs
*.log
logs/

# Database
*.db
*.sqlite
sql/data/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
